$total-width: 90vw;
.index {
  @include flex-col;
  color: $black;
  width: 100%;
  height: 100%;
}
// 下拉栏
.options {
  position: relative;
  width: $total-width;
  margin: 50px 0;
  box-sizing: border-box;
  color: $grey;
  cursor: default;
}
// 下拉栏-当前表格
.options-cur {
  @include flex-row;
  justify-content: space-between;
  border: 1px solid #dddddd;
  padding: 10px;
  width: 300px;
}
.options:hover .options-cur {
  color: $blue;
  border: 1px solid $blue;
  transition: height 0.3s;
}
.options-cur-icon {
  width: 15px;
  height: 15px;
  margin: 0 0 0 15px;
}
// 下拉栏所有选项
.options-all {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  height: 0;
  box-shadow: 2px 2px 5px grey;
  transition: height 0.3s;
  width: 280px;
}
.options-all-item {
  background-color: white;
  padding: 10px;
}
.options-all-item:hover {
  background-color: $line-grey;
}

.suboptions {
  @include flex-col;
  align-items: flex-start;
  position: relative;
  width: $total-width;
}
.suboptions-item {
  @include flex-row;
  width: 30%;
  height: 50px;
  justify-content: space-between;
  input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid $grey;
    margin: 0 10px;
  }
}
.suboptions-item-title {
  color: $black;
}
// 查询按钮
.query-button {
  @include flex-row;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $blue;
  color: white;
}

// 表格
.table {
  @include flex-col;
  align-items: flex-start;
  border-radius: 10px;
  font-size: 90%;
  width: $total-width;
  overflow-x: scroll;
}
// 表格-表头
.table-title {
  background-color: #fafafa;
}
// 表格-项目
.table-item {
  @include flex-row;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;
  min-width: 90vw;
  &:hover {
    background-color: $line-grey;
  }
}
.table-item-items {
  min-width: 12vw;
}
