$total-width: 90vw;
.index {
  @include flex-col;
  color: $black;
  width: 100%;
  height: 100%;
}
// 遮罩
.mask {
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  z-index: 10;
  background-color: rgba($color: #000000, $alpha: 0.2);
}
// 下拉栏
.options {
  position: relative;
  width: $total-width;
  margin: 50px 0;
  box-sizing: border-box;
  color: $grey;
  cursor: default;
}
// 下拉栏-当前表格
.options-cur {
  border: 1px solid #dddddd;
  padding: 10px;
  width: 100px;
}
.options:hover .options-cur {
  color: $blue;
  border: 1px solid $blue;
  transition: height 0.3s;
}
.options-cur-icon {
  width: 15px;
  height: 15px;
  margin: 0 0 0 15px;
}
// 下拉栏所有选项
.options-all {
  position: absolute;
  overflow: hidden;
  height: 0;
  box-shadow: 2px 2px 5px grey;
  transition: height 0.3s;
  width: 100px;
}
.options-all-item {
  background-color: white;
  padding: 10px;
}
.options-all-item:hover {
  background-color: $line-grey;
}

// 按钮
.buttons {
  @include flex-row;
  width: $total-width;
  justify-content: space-between;
  margin: 0 0 30px 0;
  img {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}
.buttons-left {
  @include flex-row;
  justify-content: space-between;
  width: 120px;
}
.buttons-right {
  @include flex-row;
  justify-content: space-between;
  width: 300px;
}
.buttons-right-item {
  @include flex-row;
  justify-content: space-around;
  padding: 5px;
  width: 80px;
  background-color: $green;
  color: white;
  cursor: pointer;
  img {
    width: 15px;
    height: 15px;
  }
}

// 表格
.table {
  @include flex-col;
  border-radius: 10px;
  font-size: 90%;
  width: $total-width;
}
// 表格-表头
.table-title {
  background-color: #fafafa;
}
// 表格-项目
.table-item {
  @include flex-row;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;
  width: 100%;
  &:hover {
    background-color: $line-grey;
  }
}
.table-item-cid {
  width: 10vw;
}
.table-item-tname {
  width: 10vw;
}
.table-item-quantity {
  width: 10vw;
}
.table-item-plate {
  width: 10vw;
}
.table-item-code {
  width: 10vw;
}
.table-item-cname {
  width: 10vw;
}
.table-item-gear {
  width: 10vw;
}
.table-item-daily {
  width: 10vw;
}
.table-item-rent {
  width: 10vw;
}
.table-item-rented {
  color: $grey;
}
.table-item-unrented {
  color: $blue;
}
.table-item-oid {
  width: 10vw;
}
.table-item-identity {
  width: 10vw;
}
.table-item-pname {
  width: 8vw;
}
.table-item-phone {
  width: 8vh;
}
.table-item-pickup {
  width: 10vw;
}
.table-item-scheduledtime {
  width: 10vw;
}
.table-item-deposit {
  width: 5vw;
}
.table-item-actualtime {
  width: 10vw;
}
.table-item-scheduledfee {
  width: 5vw;
}
.table-item-actualfee {
  width: 5vw;
}
